.layout {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 20px;
}

img {
  height: 20px;
}

button {
  display: flex;
  align-items: center;
}

button span {
  flex: 1;
  color: inherit;
}