@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background-image: url("./assets/board.jpg");
  height: 100vh;
}

button {
  background-color: #f1f0eb;
  color: #2c2c2c;
  border: none;
  cursor: pointer;
  padding: 12px;
  font-size: 15px;
  font-weight: 800;
  border-radius: 5px;
  width: 220px;
}

button:hover {
  background-color: #d4d2c5;
}

input {
  color: black;
  font-size: 12px;
  padding: 12px;
  border-radius: 5px;
  width: 220px;
  border: none;
}

input:focus {
  outline-color: #778899;
}
