.layout {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.span-or {
  font-size: 10px;
}

img {
  height: 20px;
}

button {
  display: flex;
  align-items: center;
}

button span {
  flex: 1;
  color: inherit;
}

.btn-login {
  background-color: #4ea610;
  color: white;
}

.btn-login:hover {
  background-color: #5aa610;
}

label {
  align-self: flex-start;
  font-size: 12px;
  padding-left: 2px;
}

.text {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.text span {
  font-size: 15px;
}

.text button {
  background-color: transparent;
  color: #4ea610;
  padding: 0;
  width: auto;
}
