<div class="layout">
  <div class="container">
    <h2>Register</h2>
    <div class="input">
      <label>Name:</label>
      <input type="text" placeholder="Name" (keyup)="onChangeName($event)" />
    </div>
    <div class="input">
      <label>Email:</label>
      <input type="text" placeholder="Email" (keyup)="onChangeEmail($event)" />
    </div>
    <div class="input">
      <label>Password:</label>
      <input
        type="password"
        placeholder="Password"
        (keyup)="onChangePassword($event)"
      />
    </div>
    <button class="btn-login" (click)="register()">
      <span>Register</span>
    </button>
    <span class="span-or">OR</span>
    <button (click)="continueWithFacebook()">
      <img src="../../assets/socials/facebook.png" />
      <span>Continue with Facebook</span>
    </button>
    <button (click)="continueWithGoogle()">
      <img src="../../assets/socials/google.png" />
      <span>Continue with Google</span>
    </button>
    <div class="text">
      <span>Already have an account?</span>
      <button (click)="login()">Login</button>
    </div>
  </div>
</div>
